@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Kanit:wght@500&family=Oswald:wght@700&display=swap');
.mainCarousel__wrapper{
    max-width: 100vw;
    height: 344px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: pink;
    transition: 1s;
}
.innerCarousel__wrapper{
    width: 80%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.categoriesOption__wrapper{
    width: 15%;
    height: 100%;
}
.carousel__images{
    width: 85%;
    height: 100%;
    position: relative;
}
.carousel__images img{
   display: block;
   width: 100%;
   height: 100%;
}



/* categories  */
.categories__wrapper{
    list-style: none;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    background: white;
}
.categories__wrapper ul{
    list-style: none;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden
}
.categories__wrapper ul li{
    color: gray;
    display: block;
    width: 100%;
    font-size: 13px;
    line-height: 27px;
    color: #757575;
    text-align: center;
}