.footer__wrapper{
    background: #2e2e54;
    padding: 5px 0 30px;
    color: #fff;
}
.links__headline{
    font-size: 18px !important;
    font-weight: 300 !important;
    line-height: 18px;
    margin: 0px 0px;
    color: #fff;
    font-family: Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif;
}
.links__list{
    padding: 0;
    margin-top: 10px;
}
.links__listItems{
    font-weight: 400;
    line-height: 18px;
    list-style: none;
    font-size: 12px;
}
.flexbox{
    display: flex;
    align-items: center;
}
/* qrcode wrapper styles */
.flexStart{
    display: flex;
    justify-content: start;

}
.flexStart{
    align-items: end;
    height: fit-content;
}
.qr__box{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    overflow: hidden;
}
.qr__box img{
    display: block;
    height: 100%;
    width: 100%;
}
.iconBox{
    margin-left: 12px;
}
.icon{
    height: 42px;
    width: 42px;
    overflow: hidden;
}
.icon img{
   display: block;
   height: 100%;
   width: 100%;
}
.orangeText, .downloadText{
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    color: #f57224;
    font-family: Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif;
}
.downloadText{
    color: white !important;
}
.buttonGroup__wrapper .button{
    background: #000;
    color: white;
    font-family: Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif;
    border: 1px solid whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 5px;
    width: 120px;
    margin: 20px 5px;
}
.col{
    padding: 0 !important;
    max-width: fit-content !important;
}
.buttonGroup__wrapper .button{
    color: white;
    font-family: Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif;
}
.dld, .appstr{
    margin: 0;
    line-height: 12px;
}
.dld{
    line-height: 10px;
    font-size: 14px;
    font-weight: 300;
    font-family: Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif;
}